/* For screens smaller than 576px (phones) */
@media (max-width: 575.98px) {
    #Carousel_section .carousel-inner .carousel-item .carousel-box {
        flex-wrap: wrap;
    }
    #Carousel_section .carousel-inner .carousel-item .carousel-box .caroulsel-desc{
      order: 1;
      width: 100%;
      }
      #Carousel_section .carousel-inner .carousel-item .carousel-box .carousel-img{
        width: 100%;
      }
  }
  
  /* For screens 576px and larger (tablets and desktops) */
  @media (min-width: 576px) {
    /* CSS rules for larger screens here */
  }
  
  /* For screens 768px and larger (tablets and small desktops) */
  @media (min-width: 768px) {
    /* CSS rules for larger screens here */
  }
  
  /* For screens 992px and larger (desktops) */
  @media (min-width: 992px) {
    /* CSS rules for larger screens here */
  }
  
  /* For screens 1200px and larger (large desktops) */
  @media (min-width: 1200px) {
    /* CSS rules for larger screens here */
  }
  